@page "/categoria"
@inherits IndexBase


<h2>Categoria</h2>

<hr />

<AuthorizeView Roles="@perfis">
    <Authorized>
        <div>
            <a class="btn btn-success" href="/categoria/create">Criar categoria</a>
        </div>








        <hr />

        <div class="form-inline">
            <label class="sr-only" form="filter-name">Filtro</label>
            <input class="form-control mb-2 mr-sm-2" placeholder="Filtrar pelo nome" @bind="NomeFiltro" />

            <button type="button" class="btn btn-primary mr-sm-2 mb-2" @onclick="Filtrar">
                Filtrar
            </button>

            <button type="button" class="btn btn-danger mb-2" @onclick="LimparFiltro">
                Limpar
            </button>
        </div>

        <hr />

        @if (Categorias == null)
        {
            <p><em>Carregando...</em></p>
        }
        else if (Categorias.Count == 0)
        {
            <p><em>Não existem categorias cadastrados...</em></p>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Descrição</th>
                        <th>Editar</th>
                        <th>Deletar</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var categoria in Categorias)
                    {
                        <tr>
                            <td>@categoria.Nome</td>
                            <td>@categoria.Descricao</td>
                            <td>
                                <a class="btn btn-primary" href="/categoria/edit/@categoria.CategoriaId">Editar</a>
                            </td>
                            <td>
                                <button class="btn btn-danger" @onclick="@(()=> DeletarCategoria(categoria.CategoriaId, categoria.Nome))">Deletar</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }

        <Confirma @ref="ConfirmaDialog"
                  OnConfirma="@DeletaConfirma"
                  OnCancelar="@CancelaConfirma">
            <div>Deseja realmente excluir o item: ( @ItemSelecionado )</div>
        </Confirma>

        <Paginacao QuantidadeTotalPaginas="QuantidadeTotalPaginas"
                   PaginaAtual="PaginaAtual"
                   Raio="2"
                   PaginaSelecionada="PaginaSelecionada">

        </Paginacao>
    </Authorized>
    <NotAuthorized>
        <h2>Usuário não autorizado...</h2>
    </NotAuthorized>
</AuthorizeView>